@media (min-width: 768px) {
    .cd-primary-nav {
        margin-top: 37px;
    }
    #cd-logo {
        margin: 0;
        margin-left: 5%;
    }
    .cd-header {
        height: 140px;
        z-index: 3;
    }
}

@media (max-width: 768px) and (min-width: 320px) {
    .section-footer .col-md-4 {
        text-align: center;
        padding-bottom: 30px;
        padding-left: 0px;
    }
    .section-3 .image-card {
        display: none;
    }
    .section-3 .title1,
    .section-3 .title2 {
        text-align: center;
        font-size: 45px;
    }
    .section-3 .title1:after,
    .section-3 .title2:after {
        margin-left: -100px;
        left: 50%;
    }
    .logo-container {
        margin-top: 40px
    }
    .logo-container img {
        width: 20%;
    }
    .section-2 .row .col-md-6:first-child {
        padding-bottom: 40px;
    }
    .section-3 p {
        text-align: center;
    }
    .image-container {
        width: 100%;
    }
    .disclaimer {
        width: 100%;
        float: none;
        padding-right: 0;
        padding-top: 0;
        text-align: center;
    }
    #cd-logo {
        display: none;
    }
    .section-4 .title {
        font-size: 45px;
    }
    .cd-header,
    .scroll-header {
        height: 50px !important;
        background-color: rgba(253, 253, 253, 0.56);
    }
    .cd-slider-nav a {
        font-size: 12px;
    }
    .cd-hero-slider .cd-btn {
        padding: 13px 10px;
    }
    .section-footer p {
        font-size: 26px;
    }
    .cd-hero-slider h2 {
        font-size: 32px;
    }
    .expand-bar p {
        font-size: 20px;
    }
    .text-container img {
        display: none;
    }
    .text-container {
        background-color: transparent;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-top: -60px;
    }
    .mobile-menu {
        display: none;
        width: 75%;
        background: #000;
        color: #fff;
        position: relative;
        padding: 20px 0;
        position: absolute;
        -moz-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        right: -100%;
    }
    .close-mobile {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
    .mobile-menu li {
        padding: 10px 0;
        padding-left: 20px;
    }
    .menu-icon-mob {
        width: 50px;
        float: right;
        padding-top: 4px;
        padding-right: 10px;
        cursor: pointer;
        display: block;
    }
    .addmobile-style{
        right: 0;
        z-index: 4;
        display: block;
    }
}
